.advantages {
    background: #F6F6F6;
    min-height: 473px;
    padding: 71px 0 64px 0;

    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        width: 936px;
        text-align: center;
    }

    &__subtitle {
        margin-top: 35px;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
    }

    &__descr {
        margin-top: 20px;
        max-width: 273px;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        a {
            color:$main_color;
        }
    }
}